@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: retro;
  src: url("/Retrospection.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  font-family: Montserrat;
  color: #343434;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-synthesis: none;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .glass-bg {
    background: rgba(49, 178, 214, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(49, 178, 214, 0.3);
  }

  .glass-white {
    background: rgba(255, 255, 255, 0.9);
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .glass-dark {
    background: rgba(0, 0, 0, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(0, 0, 0, 0.06);
  }
}
