.responsive-padding {
  padding: 12px 30px;
}

@media (max-width: 1023px) {
  .responsive-padding {
    padding: 12px 20px;
  }
}

@media (max-width: 767px) {
  .responsive-padding {
    padding: 12px 18px;
  }
}
